<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="placeholder-image">
    <img [src]="cardObject.imageUrl" alt="Imagen detalle" />
  </div>

  <h2>Description</h2>
  <p>{{ cardObject.description }}</p>

  <ion-list lines="inset">
    <ion-list-header>Things you will need</ion-list-header>
    <ion-item *ngFor="let req of cardObject.requirements">
      <ion-icon name="warning-outline" slot="start"></ion-icon>
      <ion-label>{{ req }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
