<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/exercises" class="profile-button">
        Exercises
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">

  <div class="profile-card">
    <!-- Imagen de perfil circular con botón de editar -->
    <div class="profile-image-container">
      <div class="profile-image">
        <img [src]="userImageUrl" alt="Profile Image" />
      </div>
      <ion-button
        fill="clear"
        class="edit-photo-button"
        (click)="openImagePicker()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <!-- Input oculto para seleccionar archivos -->
    <input
      type="file"
      #fileInput
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none;">

    <!-- Nombre y detalles -->
    <h2 class="username">{{ username }}</h2>

    <div class="user-details">
      <p><strong>Correo:</strong> {{ email }}</p>
      <p><strong>Gender:</strong> {{ gender }} </p>
    </div>
  </div>

</ion-content>
